/* Defining Color variables that will be used for the entire webpage */
:root {
    --dark: #52155C;
    --light: #6C1467;
    --neutral: #2E1760;
    --neutral-light: #7180B9;
    --white: #F3E0EE;
    --special: #48A9A6;
}

/* Setting styles that will be used through document, such as background color and text/header style */

* {
    background-color: var(--neutral);
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
    text-align: center;
    text-shadow: 8px 2px var(--light);
    font-style: bold;
    background-color: var(--dark);
    font-size: 40px;
}

h2 {
    font-size: 30px;
    position: absolute;
    top: -20px;
    left: 15px;
    color: var(--white);
    text-shadow: 5px 3px var(--light);
}

h3 {
    font-size: 20px;
    /* text-decoration: underline; */
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    text-align: center;
}

a {
    font-family: font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    margin_ 0 auto;
}


p {
    text-align: center;
}

/* Styling the very top header bar */
/* Container */
header {
    height: 60px;
    background-color: var(--dark);
    padding-top: 10px;
    display:flex;
    justify-content: flex-end;
    padding-right: 12.5%;

}

/* Child Element */
.header {
    margin: 0 20px;
}

/* Setting style for the navigation bar that appears below the header */
/* Container */
nav {
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 14%;
    background-color: var(--light);
    text-transform: uppercase;
    font-weight: 700;
}

/* Child Element, Anchors to webpage sections*/
nav a {
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--white);
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--light);

}


/* Gave anchors in nav bar interactive styling */

nav a:focus {
    color: var(--special);
}

nav a:hover {
    color: var(--special);
}

nav a:active {
    color: var(--dark)
}

/* Flex Containers for three major parts of main webpage body */
#about-me, #contact-me, #projects {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}


/* Styling for any Child flexboxes through the main webpage body */
/* Child Elements */
.cards{
    flex: 1 0;
    margin: 10px;
    border-radius: 25px;
    border: 6px solid var(--light);
    box-shadow: 8px 5px var(--dark);
    padding: 10px;
    background-color: var(--neutral-light);
    position: relative;
    justify-content: center;
}
    
/* Float Left styles the textbox portion of my #about-me */
/* Child Element */
#float-left {
    flex: 4 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    text-align: left;
    max-width: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 11px;
}
    
/* Float Right Styles the image in the #about-me section */
/* Child Element */
#float-right {
    flex: 1 0 200px;
    display: flex;

}
    
#self {
    display: relative;
    height: 325px;
    width: auto;
    margin: auto;
}
    
/* Styling for featured project in #projects section */
/* Child Element */
#featured {
    width: 100%;
}
    
#featured img {
    display: block;
    margin: 0 auto;
    min-height: 300px;
    height: auto;
    width: 80%;
}
    
/* Styling for other projects in the #projects section of portfolio */
    
#showcase {
    flex-basis: 45%;
}
    
#showcase img {
    display: block;
    margin: auto;
    height: auto;
    width: 70%;
}

/* Interactivity for #projects .cards */

#featured2:focus, #showcase:focus {
    border-color: black;
}

#featured2:hover, #showcase:hover {
    border-color: black;
    background-color: var(--dark);
    box-shadow: none;
}

#featured2:active, #showcase:active {
    box-shadow: 0 0 10px #000 inset;
}

/* Namecards for all projects in #projects section of portfolio */

.info-box {
    height: 60px;
    width: 150px;
    bottom: 20px;
    left: 0px;
    position: absolute;
    background-color: var(--light);
    padding-top: 10px;
}

/* New parent flexbox element within #contact-me section of main */
#contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
}

/* Styling for the buttons in #contact-me */
button {
    width: 250px;
    border: 5px solid var(--light);
    border-radius: 10px;
    background-color: var(--dark);
    margin-top: 10px;
}

button h3 {
    text-decoration: underline;
    color: var(--white);

}

button p {
    color: var(--white);
}

/* Interactive styling for Buttons */

button:focus  {
    border-color: black;
}

button:hover {
    background-color: var(--neutral);
    border-color: var(--special);
}

button:hover h3,
button:hover p {
    color: var(--special);
}

button:active {
    box-shadow: 0 0 10px #48A9A6 inset;
}



/* Defines styling for the footer */
footer {
    height: 25px;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    text-transform: uppercase;
    font-weight: 700;
}



/* Defining styling changes when webpage is viewed on mobile devices */
@media screen and (max-width: 768px) { 
    /* Splits first and last name into two lines within header element and centers the text */
    header {
       flex-direction: column; 
       height: 90px;
       margin: 0 auto;
       padding-right:0px;
       padding-bottom: 10px;
    }

    /* Changes anchors in Nav to display in the center */
    nav {
        justify-content: center;
        padding-right: 0;
    }

    nav a {
        padding-top: 4px;
        font-size: 16px;
    }


    /* Styles image in about me to display first on mobile webpage */
    #float-right {
        order: 0;
        flex: 1 0;
        margin: 10px;
        /* border-radius: 25px; */
        /* box-shadow: 8px 5px 3px var(--white); */
        padding: 10px;
        position: relative;
        }

    

    #float-left {
        order: 1;
    }
    

    /* Redefines flex direction for the child elements in the main section of the webpage to view everything in a single column as you scroll down the page */
    #about-me, #projects, #contact-me {
      flex-direction: column;
      margin: 0 auto;
      width: 90%;
    }
    
    .cards {
        width: 100%;
        display: flex;
    }

    #contact-container {
        justify-content: center;
    }

    button {
        margin: 7px auto; 
       }

    /*Styles Showcase image to remain the largest on the page, even in mobile browser  */
    #showcase img {
        height: 150px;
        width: 80%;
    }




}